
@{
	ViewData["Title"] = "SaveTraineeInfo";
}

<h1>SaveTraineeInfo</h1>

<h4>GymTrainee</h4>
<hr />

<div>
	<a asp-action="Index">Back to List</a>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
